:root {
  --bg-main: #fffaf0;
  --bg-active-link: #faebd7;
  --main-color: #020100;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--main-color);
  background-color: var(--bg-main);
}

html, body, #root, .container {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
